*, ::after, ::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "shrikhand";
  src: url("/fonts/Shrikhand-Regular.ttf") format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(109 98 117);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, p {
  font-family: "shrikhand";
  color: rgb(234 231 223);
  text-align: center;
}

h1 {
  margin-bottom: 3rem;
}

p {
  margin-bottom: 2rem;
  font-weight: 200;
  font-size: 1rem;
}